<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quxiangtech.myapplication"
    android:sharedUserId="">
    <!-- 前 4 个权限是读写权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 最后两个权限是 SD 卡访问权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <instrumentation
        android:name="com.qihoo.keeplive.ViInstrumentation"
        android:targetPackage="${applicationId}"
        android:targetProcesses="${applicationId},${applicationId}:resident" />

    <application
        android:name="com.qihoo.myapplication.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name="com.qihoo.customViews.TestDragActivity"></activity>
        <activity
            android:name="com.qihoo.launchMode.DActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.qihoo.launchMode.CActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.qihoo.launchMode.BActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.qihoo.launchMode.AActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.study.affinity" />
        <activity
            android:name="com.qihoo.myapplication.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.qihoo.JiaGuActivity" />
        <activity android:name="com.qihoo.ZRouteTestActivity"></activity>
        <activity android:name="com.qihoo.plugin.ProxyActivity" />
        <activity android:name="com.qihoo.injectView.InjectActivity" />
        <activity android:name="com.qihoo.anr.ANRActivity" />
        <activity android:name="com.qihoo.binder.localBinder.BindingActivity" />
        <activity android:name="com.qihoo.clickevent.ClickActivity" />
        <activity android:name="com.qihoo.ScrollUpActivity" />

        <service
            android:name="com.qihoo.myapplication.MotionDetectorService"
            android:enabled="true"
            android:exported="false"
            android:process=":motion_detector">
            <intent-filter>
                <action android:name="custom.intent.action.motion" />
            </intent-filter>
        </service>
        <service android:name="com.qihoo.myapplication.RemoteService" />
        <service
            android:name="com.qihoo.binder.ServiceManagerService"
            android:process=":service_manager" />
        <service android:name="com.qihoo.binder.localBinder.LocalService" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.qihoo.startup.HotFixInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.qihoo.startup.PluginInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>